<section class="flex flex-row items-center gap-4">
  <img [src]="img" class="h-16 w-16 rounded-full border-2 border-white object-cover object-top">
  <div class="flex flex-col gap">
    <span class="text-sm font-bold uppercase">Akira Toriyama</span>
    <span class="text-xs font-regular text-gray-400">February 2023</span>
  </div>
  <section class="flex flex-1 justify-end">
    <button class="bg-white hover:bg-blue-700 text-white font-bold rounded-full w-12 h-12 flex items-center justify-center">
      <img src="assets/svg/plus.svg" alt="Plus icon" class="w-6 h-6">
    </button>
  </section>
</section>
